<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form action="/product/form" method="post">
      <input type="text" name="data1" />
      <input type="text" name="data2" />
      <button>Submit</button>
    </form>
  </body>
</html>
